<!doctype html>
<html lang="en">
  <head>
    <title>Images in {{folder}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{assetsDir}}/style.css">
  </head>
  <body>
    <main>
      <h1>Images in&nbsp;
        {{#each path}}
          <a href="/{{url}}">{{name}}</a>
        {{/each}}
      </h1>

      <ul class="directories">
        {{#each directories}}
          <li><a href="/{{relative}}">{{name}}</a></li>
        {{/each}}
      </ul>

      <ul class="images">
        {{#each images}}
          <li><img src="/{{relative}}" alt="{{name}}" title="{{name}}"></li>
        {{/each}}
      </ul>
    </main>
  </body>
</html